# Ignore virtual environment folder
myvenv/

# Ignore everything in the captures directory
captures/

# Ignore voluminous files
shape_predictor_68_face_landmarks.dat
**/shape_predictor_68_face_landmarks.dat
*.dat
__pycache__